@import url(../../node_modules/sanitize.css/sanitize.css);

h2 {
    color: white;
}

/* Page grid container template starts here */

div.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: [first-line] 10vw [line2] auto [line3] 10vw [last-line];
    grid-template-rows: [first-row] 8vh [row2] minmax(92vh, auto) [row3] minmax(100vh, auto) [row4] minmax(20vh, auto) [last-row];
}
/* Page grid container template ends here */

/* Navigation styles start here  */
nav.grid-item {
    /* background-color: rgb(240, 248, 255, 0.8); */
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 25vw;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav.grid-item ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-width: 25vw;
}

nav.grid-item ul.flex-container li.flex-item {
    height: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    color: #FFF;
    text-decoration: none;
}

nav ul li a:hover{
    color: tomato;
}
/* Navigation styles end here  */

/* Header styles start here */

header.grid-item {
    display: grid;
    grid-template-columns: [first-line] 10vw [line2] auto [line3s] 10vw [last-line];
    grid-template-rows: [first-row] 8vh [row3] 1fr [last-row];
    /*  */
    grid-column-start: first-line;
    grid-column-end: last-line;
    grid-row-start: 1;
    grid-row-end: span 2;
    /*  */
    background-image: url(../img/seneca-open-house-2019-newnham-2.jpg);
    background-color: #333;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
}
/* Header styles end here */

/* Main content styles start here */

main.grid-item {
    display: grid;
    grid-column: first-line/last-line;
    grid-row: 3/span 1;
    background-color: #191919;

    /* background-image: url(https://picsum.photos/1000/1000);
    background-blend-mode: multiply;
    background-size: cover;
    place-items: center; */
}
/* Main content styles end here */

/* Footer styles start here */

footer.grid-item {
    background-color: rgb(221, 199, 159);
    /* Format: grid-row-start/grid-column-start/grid-row-end/grid-column-end */
    grid-area: 4/first-line/span 1/last-line;
}
/* Footer styles end here */

/* Responsive design start here */ 

@media all and (max-width: 375px){

}
/* Responsive design start here  */   

