/* External css files */
@import url(./sanitize.css);
@import url(./fonts.css);

/* Global styles start here  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans ", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul,
li {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #293347;
  text-transform: capitalize;
}

a:hover {
  color: rgb(255, 100, 73);
}
/* Global styles end here  */

/* Page structure styles start here */

.container {
  display: grid;
  height: 100%;
  grid-template-columns: [first-line] 8vh [line2] auto [line3] 8vh [last-line];
  grid-template-rows:
    [first-row] 8vh [row2] minmax(92vh, auto) [row3] minmax(100vh, auto)
    [row4] minmax(20vh, auto) [last-row];
}
/* Page structure styles end here */

/* Header styles start here */

header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-line;
  grid-column-end: last-line;
  grid-row-start: 1;
  grid-row-end: span 2;
  /* background-color: #191919; */
  /* background-blend-mode: soft-light; */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* justify-content: center; */
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: #293347;
  height: 100%;
  width: 100%;
}

.header-img {
  width: 180px;
  height: 180px;
  background-image: url(../img/me-and-the-blackboard.jpg);
  background-color: rgba(99, 99, 99, 0.2);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 1em;
  margin-top: 2em;
}

.header-content p {
  text-align: center;
  display: flex;
}

.contact-me {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
  width: 30vh;
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1),
    rgba(41, 51, 71, 1),
    rgba(198, 57, 19, 1)
  );
  background-position: 75% 0;
  background-size: 200% 100%;
  border-radius: 10px;
  /* border: 1px solid #293347; */
}

.contact-me-img {
  width: 8vh;
  height: 8vh;
}

.contact-me p {
  margin: 0;
  color: white;
  /* font-family: "Lato", sans-serif; */
}

.header-social {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-social a {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  border-radius: 20%;
  background-color: rgba(41, 51, 71, 0.8);
}

.social-media-img {
  border-radius: 20%;
  width: 30px;
  height: 30px;
  /* background-color: rgb(255, 255, 255); */
}
/* Header styles end here */

/* Navigation styles start here  */

.nav-bar-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
}

.nav-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  right: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 0.5px solid rgba(41, 51, 71, 0.5);
}

nav ul {
  display: flex;
  flex-direction: column;
  height: 18vh;
  width: 100%;
}

.nav-link {
  font-weight: 450;
}

nav ul a {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  display: flex;
  height: 6vh;
}

nav ul li {
  padding: 0 20px;
}

.nav-toggle:checked ~ .nav-bar {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 50ms;
}

.nav-toggle {
  position: absolute !important;
  display: none;
}

.nav-toggle-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #293347;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-headline {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}

/* Navigation styles end here  */

/* Main content styles start here */

main {
  display: grid;
  grid-template-columns: inherit;
  /* grid-template-areas: ".about-container"
                       ".skill-container"
                       ".projects"
                       ; */
  grid-column: first-line/last-line;
  grid-row: 3 / span 1;
}

.about-container {
  display: grid;
  grid-template-columns: inherit;
  grid-column: first-line/last-line;
  height: 70vh;
  background-color: #191919;
}

.about-sub-container {
  grid-column: 2 / span 1;
  margin-top: 10vw;
  margin-bottom: calc(10vw + 15vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.skill-container {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  background-color: white;
  min-height: 80vh;
  width: 100%;
  margin-top: -15vh;
  border-radius: 10px;
}

.skill {
  color: #293347;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  border: 1px solid #e6ecf8;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.skill ul {
  margin: 0.5em;
}

.list-title {
  color: #8c43ff;
  line-height: 3;
}

.skill-img {
  background-color: #8c43ff;
  width: 5em;
  height: 5em;
  margin: 0.5em;
}

.projects {
  grid-column: 2 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: max-content;
}

.projects {
  margin: 1em;
  width: 40vw;
  height: 40vw;
  background-color: rgb(75, 122, 161);
}
/* Main content styles end here */

/* Footer styles start here */

footer {
  background-color: rgb(221, 199, 159);
  grid-area: 4 / first-line/span 1 / last-line;
}
/* Footer styles end here */

/* Responsive design start here */

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: [first-line] 9.5vw [line2] auto [line3] 9.5vw [last-line];
  }

  .nav-toggle-label {
    display: none;
  }

  .nav-bar-container {
    top: 3vh;
    padding: 10px 5vw;
    background-color: unset;
    position: absolute;
  }

  .sticky {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 0.5px solid rgba(41, 51, 71, 0.5);
  }

  .nav-bar {
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: 0;
    left: 0;
    /* end Edge support stuff */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: unset;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  nav ul li {
    padding-bottom: 0;
    padding-left: 1em;
  }

  .nav-link {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
    height: initial;
  }

  .nav-link::before {
    content: "";
    display: block;
    height: 4px;
    background: rgb(255, 100, 73);
    border-radius: 3px;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  .nav-link:hover::before {
    transform: scale(1, 1);
  }

  .header-img {
    width: 250px;
    height: 250px;
    /* margin-top: 40px; */
  }

  .header-content {
    grid-column: 2 / span 1;
    width: 80%;
    justify-self: center;
    font-size: large;
  }

  .header-content p {
    font-size: x-large;
  }

  .skill {
    width: 33.33%;
  }
}
/* Responsive design ends here  */
