@import url(../../node_modules/sanitize.css/sanitize.css);

/* Grid Container */
div.grid-container {
    display: grid;
    grid-template-columns: [first-line] 10vw [line2] auto [line3] 10vw [last-line];
    grid-template-rows: [first-row] 6vh [row2] minmax(60vh, auto) [row3] minmax(100vh, auto) [row4] minmax(20vh, auto) [last-row];
}
/* Grid Container End */

/***** Header - 1st Grid Item *****/
header.grid-item {
    background-image: linear-gradient(to right,rgb(255, 99, 126, 1) , rgba(230, 214, 0, 0.8));
    grid-column-start: first-line;
    grid-column-end: last-line;
    grid-row-start: 1;
    grid-row-end: span 2;
} 

/* Navbar - Grid sub-item */
nav.grid-item {
    background-color: rgb(158, 132, 158);
    /* background-image: linear-gradient(to right, rgb(255, 99, 126, 1), rgb(230, 214, 0, 0.8)); */
    /* Format: grid-column-start/grid-column-end */
    grid-column: 1/4;
    margin: 0 1fr;
    /* Format: grid-row-start/grid-row-end */
    grid-row: 1/span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav Flexbox Container */
nav.grid-item ul.grid-sub-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-width: 25vw;
}
/* Nav Flexbox Container End*/

/* Flex item */
nav.grid-item ul.flex-container li.flex-item {
    background-color: aliceblue;
    height: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flex item End */

nav ul li a{
    text-decoration-line: none;
}

nav ul li a:hover{
    color: tomato;
}
/* Navbar - Grid sub-item End */

/***** Header - 1st Grid Item End *****/

/****** Main Content - 2nd Grid Item ******/
main.grid-item {
    background-color: rgb(166, 231, 166);
    grid-column: 2/3;
    grid-row: 3/span 1;
}
/****** Main Content - 2nd Grid Item End ******/

/****** Footer - Last Grid Item ******/
footer.grid-item {
    background-color: rgb(221, 199, 159);
    /* Format: grid-row-start/grid-column-start/grid-row-end/grid-column-end */
    grid-area: 4/first-line/span 1/last-line;
}
/****** Footer - Last Grid Item End ******/



/****************** Mobile Design ******************/ 
@media all and (max-width: 375px){

}
/****************** Mobile Design End ******************/   
