@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/* External css files start here */
/*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: border-box;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Use the default user interface font in all browsers (opinionated).
 * 3. Correct the line height in all browsers.
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 2 */
  line-height: 1.15;
  /* 3 */
  -moz-tab-size: 4;
  /* 4 */
  tab-size: 4;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Remove the text shadow on text selections in Firefox 61- (opinionated).
 * 1. Restore the coloring undone by defining the text shadow
 *    in all browsers (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Remove the margin in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/* Google fonts */
/* Header styles start here */
header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-column;
  grid-column-end: last-column;
  grid-row-start: 1;
  grid-row-end: span 2;
  /* background-color: #191919; */
  /* background-blend-mode: soft-light; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-transform: capitalize; }

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* justify-content: space-evenly; */
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: #293347;
  height: 100%;
  width: 100%;
  /* font-size: 2vh; */ }

.header-img {
  width: 30vh;
  height: 30vh;
  background-image: '/src/static/images/me-and-the-blackboard.jpg';
  background-color: rgba(99, 99, 99, 0.4);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 20px;
  /* margin-top: 40px; */ }

.header-content p {
  text-align: center;
  display: flex;
  font-size: 3vh; }

.header-social {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header-social a {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  border-radius: 20%;
  background-color: rgba(46, 46, 46, 0.9); }

/* Header styles end here */
/* Navigation styles start here  */
.nav-bar-container {
  background-color: white;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  text-transform: capitalize; }

.nav-bar {
  display: flex;
  background-color: white;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  right: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 0.5px solid rgba(41, 51, 71, 0.5); }

nav ul {
  display: flex;
  flex-direction: column;
  height: 18vh;
  width: 100%; }

.nav-link {
  font-weight: 500; }

nav ul a {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  display: flex;
  height: 6vh; }

nav ul li {
  padding: 0 20px; }

.nav-toggle:checked ~ .nav-bar {
  transform: scale(1, 1); }

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 50ms; }

.nav-toggle {
  position: absolute !important;
  display: none; }

.nav-toggle-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #293347;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  position: relative; }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute; }

.nav-toggle-label span::before {
  bottom: 7px; }

.nav-toggle-label span::after {
  top: 7px; }

.nav-headline {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center; }

/* Navigation styles end here  */
/* Main content styles start here */
main {
  display: grid;
  grid-template-columns: inherit;
  grid-column: first-column/last-column;
  grid-row: 3 / span 1; }

.about-container {
  grid-column: first-column/last-column;
  height: 70vh;
  background-color: #2e2e2e;
  padding: 1em 5em; }

.about-sub-container {
  /* margin-top: 10vw; */
  /* margin-bottom: calc(10vw + 15vh); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeeee; }

.about-sub-container p {
  font-size: 3vh; }

.skill-container {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  background-color: white;
  min-height: 50vh;
  /* width: 100%; */
  margin-top: -15vh;
  margin-right: 1.5em;
  margin-left: 1.5em;
  border-radius: 10px; }

.skill {
  color: #293347;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  width: 100%;
  /* min-height: inherit; */
  border: 1px solid #e6ecf8;
  border-radius: 10px;
  line-height: 1.5;
  /* font-size: 18px; */ }

.skill-img {
  background-color: #8c43ff;
  width: 4em;
  height: 4em;
  /* margin: 0.83em; */ }

.skill-headline {
  /* margin: 0.8em; */
  font-weight: 500;
  font-size: larger; }

.skill-row {
  display: flex;
  justify-content: center;
  margin: 0.8em 0; }

.skill-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.skill-icon-row {
  display: flex;
  flex-direction: row; }

.skill-icon {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  /* max-width: 4em; */ }

.skill-icon span {
  font-weight: 500;
  font-size: small; }

.list-title {
  color: #8c43ff;
  line-height: 3; }

.project-container {
  grid-column: first-column / last-column;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 1em 5em;
  /* width: 40vw; */
  min-height: 80vh;
  /* background-color: rgb(75, 122, 161); */ }

.project-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.project-items {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */ }

.project {
  padding: 0.75em;
  width: 50%;
  /* padding: 0.75rem; */ }

.project-figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0; }

.project-img {
  width: 100%;
  height: 100%; }

/* Main content styles end here */
footer {
  background-color: #ddc79f;
  grid-area: 4 / first-column/span 1 / last-column; }

a.button {
  /* background-color: #fff; */
  /* border-color: #dbdbdb; */
  border-width: 1px;
  border-style: solid;
  /* color: #363636; */
  cursor: pointer;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  font-family: 'Nunito';
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 1.25em 2em; */
  /* 
  
  margin: 1em;
  
  height: 10vh;
  background: linear-gradient(
    to right,
    #7721ff,
    #7e2dff,
    #8438ff,
    #8a41ff,
    #904aff
  );
  border-radius: 12px; */
  /* background-position: 150% 0; */
  /* background-size: 200% 100%; */
  /* border: 1px solid #293347; */ }

.button:hover {
  border-color: #b5b5b5;
  color: #363636; }

.button.is-primary {
  /* background-color: #293347; */
  border-color: var(--link-color);
  color: var(--link-color); }

.button.is-outlined {
  border-width: 2px;
  background-color: transparent; }

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em; }

.button.is-medium {
  font-size: 1.25rem; }

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus {
  background-color: var(--link-color);
  border-color: var(--link-color);
  color: #fff; }

.button .button-icon {
  margin-right: 10px;
  /* justify-items: center; */
  /* align-items: center; */
  /* height: 1em; */
  /* margin: 0; */
  /* color: white; */ }

/* responsive designs */
/* Responsive design start here */
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: [first-column] 5vw [line2] auto [line3] 5vw [last-column]; }
  .nav-toggle-label {
    display: none; }
  .nav-bar-container {
    top: 3vh;
    padding: 10px 5vw;
    background-color: unset;
    position: absolute;
    font-size: 18px; }
  .sticky {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 0.5px solid rgba(41, 51, 71, 0.5); }
  .nav-bar {
    /* Edge support begins here */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: 0;
    left: 0;
    /* Edge support ends here */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: unset; }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%; }
  nav ul li {
    padding-bottom: 0;
    padding-left: 1em; }
  .nav-link {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
    height: initial; }
  .nav-link::before {
    content: '';
    display: block;
    height: 4px;
    background: var(--link-color);
    border-radius: 3px;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms; }
  .nav-link:hover::before {
    transform: scale(1, 1); }
  .header-img {
    width: 25vw;
    height: 25vw;
    /* margin-top: 40px; */ }
  .header-content {
    grid-column: 2 / span 1;
    width: 80%;
    justify-self: center;
    font-size: large; }
  .header-content p {
    font-size: x-large; }
  .skill {
    width: 33.33%; } }

/* Responsive design ends here  */
/* External css files end here */
/* Global Varibales Start Here*/
:root {
  /* My Color Palette Start Here*/
  --dark-red: #a63a50;
  /* Color Palette Start Here*/
  --link-color: var(--dark-red); }

/* Global Varibales End Here*/
/* Global styles start here  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #293347;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  font-weight: 400; }

a:hover {
  color: var(--link-color); }

/* Global styles end here  */
/* Page structure styles start here */
.container {
  display: grid;
  height: 100%;
  grid-template-columns: [first-column] 7vh [line2] auto [line3] 7vh [last-column];
  grid-template-rows: [first-row] 8vh [row2] minmax(92vh, auto) [row3] minmax(100vh, auto) [row4] minmax(20vh, auto) [last-row]; }

/* Page structure styles end here */
/* Svg styles start here */
.devicon {
  font-size: 4em; }

/* Svg styles end here */

