$white: antiquewhite;

a.button {
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-family: $buttonFont;
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.is-primary {
  color: $darkRed;
  .icon {
    margin-right: $buttonIconMargin;
  }
}

.is-secondary {
  .icon {
    margin-right: 0.5em;
  }
  color: $darkRed;
  &:hover,
  &:focus {
    background-color: $darkRed;
    border-color: $darkRed;
    color: $white;
  }
}

.is-filled {
  background-color: $darkRed;
  color: $white;
  border-color: $darkRed;
}

.is-outlined {
  background-color: transparent;
}
.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}
.is-medium {
  // font-size: 1.25rem;
  padding: 2em;
}

.is-small {
  // font-size: 1rem;
  padding: 0.5em 1em;
}

.is-primary.is-outlined:hover,
.is-primary.is-outlined:focus {
  background-color: $darkRed;
  border-color: $darkRed;
  color: $white;
}

.is-primary.is-filled:hover,
.is-primary.is-filled:focus {
  background-color: $white;
  border-color: $darkRed;
  color: $darkRed;
  svg.feather {
    fill: $darkRed;
  }
}

.icon {
  align-items: center;
  justify-items: center;
  display: inline-flex;
  justify-content: center;
}

a.is-round {
  border-radius: 100%;
  .icon {
    margin-right: 0;
  }
}
a.is-medium.is-round {
  font-size: 0.1rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  a.button {
    margin-right: $buttonIconMargin;
  }
}
