$color_1: #363636;
$white: #fff;
$font_family_1: 'Open Sans';
$transparent: transparent;
$border_color_1: #b5b5b5;
$DarkBlue: rgba(99, 99, 99, 0.4);

a.button {
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-family: $font_family_1;
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.button {
  &:hover {
    border-color: $border_color_1;
    color: $color_1;
  }
}
.button.is-primary {
  color: $darkRed;
  .icon {
    margin-right: 0.5em;
  }
  // border-color: $darkRed;
  // color: $darkRed;
}

.button.is-filled {
  border-width: 2px;
  // border-color: $DarkBlue;
  background-color: $darkRed;
  color: $white;
}

.button.is-outlined {
  border-color: $darkRed;
  border-width: 2px;
  background-color: $transparent;
}
.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}
.button.is-medium {
  font-size: 1.25rem;
  padding: 0.8em 1.5em;
}
.button.is-primary.is-outlined {
  &:hover {
    background-color: $darkRed;
    border-color: $darkRed;
    color: $white;
  }
  &:focus {
    background-color: $darkRed;
    border-color: $darkRed;
    color: $white;
  }
}

.button.is-primary.is-filled {
  &:hover {
    background-color: $white;
    border-color: $darkRed;
    color: $darkRed;
  }
  &:focus {
    background-color: $white;
    border-color: $darkRed;
    color: $darkRed;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

a.button.is-round {
  border-radius: 100%;
  margin: 0.4rem 0;
  width: 47px;
  height: 47px;
  .icon {
    margin-right: 0;
  }
}
a.button.is-medium.is-round {
  font-size: 0.1rem;
}
