$color_1: #363636;
$color_3: #fff;
$font_family_1: 'Open Sans';
$background_color_1: transparent;
$border_color_1: #b5b5b5;

a.button {
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  font-family: $font_family_1;
  font-weight: 600;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.button {
  &:hover {
    border-color: $border_color_1;
    color: $color_1;
  }
}
.button.is-primary {
  border-color: $darkRed;
  color: $darkRed;
  .icon {
    margin-right: 10px;
  }
  // border-color: $darkRed;
  // color: $darkRed;
}
.button.is-outlined {
  border-width: 2px;
  background-color: $background_color_1;
}
.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}
.button.is-medium {
  font-size: 1.25rem;
}
.button.is-primary.is-outlined {
  &:hover {
    background-color: $darkRed;
    border-color: $darkRed;
    color: $color_3;
  }
  &:focus {
    background-color: $darkRed;
    border-color: $darkRed;
    color: $color_3;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}
