footer {
  background-color: $softBlack;
  grid-area: 4 / first-column/span 1 / last-column;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $lightBrown;
  div {
    margin-bottom: $headerDivMargin;
  }
}
