$headerImageBackground: rgba(255, 255, 255, 0.07);
$headerDivMargin: 1vh;

header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-column;
  grid-column-end: last-column;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: $darkBlue;
  height: 100%;
  width: 100%;
  font-size: medium;

  >* {
    margin: 3vh 0;
  }
}

.header-img-container {
  display: flex;
  place-items: center;
  position: relative; // important for image overlay
  width: 30vh;
  height: 30vh;
  max-height: 340px;
  max-width: 340px;
  overflow: hidden;

  img,
  .overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $headerImageBackground;
  }
}

.header-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  >* {
    margin: $headerDivMargin;
  }

}

.header-button-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  a.button {
    display: flex;
    align-items: center;
    line-height: 1;

    text-transform: none;
  }

  >*:not(:last-child) {
    margin: 3vh 0;
  }
}