$color_1: #293347;
$background_color_1: rgba(99, 99, 99, 0.4);
$background_color_2: rgba(46, 46, 46, 0.9);

header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-column;
  grid-column-end: last-column;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-transform: capitalize;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: $color_1;
  height: 100%;
  width: 100%;
  p {
    text-align: center;
    display: flex;
    font-size: 3vh;
  }
}
.header-img {
  width: 30vh;
  height: 30vh;
  background-image: url('/images/me-and-the-blackboard.jpg');
  background-color: $background_color_1;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 20px;
}
.header-social {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    background-color: $background_color_2;
  }
}
.social-media-img {
  border-radius: 20%;
  width: 30px;
  height: 30px;
}
