$headerImageBackground: rgba(99, 99, 99, 0.4);

header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-column;
  grid-column-end: last-column;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-transform: capitalize;
}
.header-content {
  font-size: small; // important for mobile responsiveness

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: $darkBlue;
  height: 100%;
  width: 100%;
}

.header-img-container {
  width: 50vw;
  height: 50vw;
  max-height: 500px;
  max-width: 500px;

  background-image: url('/images/me-and-the-blackboard.jpg');

  background-color: $headerImageBackground;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;

  margin: 20px;
  border-radius: 50%;
  border: 2px solid white;
}

.header-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 3vw 0;
  > * {
    margin: 1vh;
  }
}

.header-social {
  // grid-column: 1 / span 1;
  // grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  a.button {
    margin-right: $buttonIconMargin;
  }
}
