$headerImageBackground: rgba(99, 99, 99, 0.4);
header {
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-start: first-column;
  grid-column-end: last-column;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header-content {
  font-size: small; // important for mobile responsiveness

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: $darkBlue;
  height: 100%;
  width: 100%;
}

.header-img-container {
  width: 40vh;
  height: 40vh;
  max-height: 340px;
  max-width: 340px;

  background-image: url('/images/professional-photo.jpg');

  background-color: $headerImageBackground;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  margin: 10px;
  border-radius: 50%;
  border: 2px solid white;
}

.header-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 5vh 0;
  > * {
    margin: $headerDivMargin;
  }
}

.header-button-container {
  display: flex;
  justify-content: center;
  > *:not(:last-child) {
    margin-right: 30px;
  }
}
