$color_1: #eeeeee;
$color_2: #293347;
$color_3: #8c43ff;
$background_color_1: #2e2e2e;
$background_color_2: #ffffff;
$background_color_3: #8c43ff;

main {
  display: grid;
  grid-template-columns: inherit;
  grid-column: first-column/last-column;
  grid-row: 3 / span 1;
}
/* Main Section Styles */
.section-container {
  padding: 0 4vh;
}
.section-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section-text {
    font-size: 1.17em;
  }
}
/* Main Section Styles End */

#about-me {
  grid-column: first-column/last-column;
  background-color: $background_color_1;
  .section-sub-container {
    color: $color_1;
    padding-bottom: calc(10vh + 20px * 3);
  }
}

.skill-container {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  background-color: $background_color_2;
  min-height: 50vh;
  margin-top: -10vh;
  border-radius: 10px;
}
.skill {
  color: $color_2;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px solid #e6ecf8;
  border-radius: 10px;
  line-height: 1.5;
}
.skill-img {
  background-color: $background_color_3;
  width: 4em;
  height: 4em;
}
.skill-headline {
  font-weight: 500;
  font-size: larger;
}
.skill-row {
  display: flex;
  justify-content: center;
  margin: 0.8em 0;
}
.skill-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skill-icon-row {
  display: flex;
  flex-direction: row;
}
.skill-icon {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  span {
    font-weight: 500;
    font-size: small;
  }
}
.list-title {
  color: $color_3;
  line-height: 3;
}

#projects {
  grid-column: first-column / last-column;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
}
.project {
  padding: 0.75em;
  width: 50%;
}
.project-figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0;
}
.project-img {
  width: 100%;
  height: 100%;
}
