$color_1: #eeeeee;
$color_2: #293347;
$color_3: #8c43ff;
$background_color_1: #2e2e2e;
$background_color_2: #ffffff;
$background_color_3: #8c43ff;
$projectText: antiquewhite;

main {
  display: grid;
  grid-template-columns: inherit;
  grid-column: first-column/last-column;
  grid-row: 3 / span 1;
}
/* Main Section Styles */

.section-container {
  grid-column: 2 / span 1;
}

.section-sub-container {
  padding-top: calc(3 * 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-bottom: 15px;
  }
  .section-text {
    font-size: 1.17em;
  }
}
/* Main Section Styles End */

#about-me {
  grid-column: 1 / span 3;
  background-color: $background_color_1;
  #about-me-sub-container {
    color: $color_1;
    padding-bottom: calc(10vh + 20px * 3);
    margin: 0 $bodyGridPadding;
  }
}

#skills {
  // grid-column: 1 / span 3;
}

.skill-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  background-color: $background_color_2;
  min-height: 40vh;
  margin-top: -10vh;
  border-radius: 10px;
}
.skill {
  color: $color_2;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px solid #e6ecf8;
  border-radius: 10px;
  line-height: 1.5;
}
.skill-img-container {
  width: 4em;
  height: 4em;
  .feather {
    stroke-width: 1px;
    stroke: $darkRed;
    width: 100%;
    height: 100%;
    font-weight: 100;
  }
  .feather-book {
    transform: rotate(-20deg);
  }
}

.skill-headline {
  font-weight: 500;
}

.skill-row {
  display: flex;
  justify-content: center;
  margin: 0.8em 0;
}
.skill-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skill-icon-row {
  display: flex;
  flex-direction: row;
}
.skill-icon {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  span {
    font-weight: 500;
    font-size: small;
  }
}
.list-title {
  color: $color_3;
  line-height: 3;
}

#projects {
  text-align: center;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
}

.project {
  padding: 0.75em;
  width: 100%;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
}

figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  text-transform: capitalize;
  font-size: small;
  .figcaption-link {
    display: flex;
    a {
      margin-right: $buttonIconMargin;
    }
  }
}

figure:hover {
  figcaption {
    opacity: 1;
    transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
    transition-property: all;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  img {
    transition: 0.25s ease-in-out;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  p,
  h2,
  a {
    color: $projectText;
  }
}

figure .overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 51, 71, 0.9);
  content: '';
  opacity: 0;
}

figure .overlay::before,
figure p,
figure h2,
figure a {
  transition: opacity 0.35s, transform 0.35s;
}

figure h2,
figure p,
figure a {
  z-index: 1;
}

figure h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
figure p {
  font-weight: 300;
}

figure:hover .overlay::before,
figure:hover p,
figure:hover a,
figure:hover h2 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
