$projectText: antiquewhite;
$darkBlue: rgb(39, 51, 77);
$projectSectionsPadding: 4vh;

main {
  display: grid;
  grid-template-columns: inherit;
  grid-column: first-column/last-column;
  grid-row: 3 / span 1;
}
/* Main Section Styles */

.section-container {
  grid-column: 2 / span 1;
}

.section-sub-container {
  padding-top: $projectSectionsPadding;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-bottom: 15px;
  }
  .section-text {
    font-size: 1.17em;
    margin-bottom: 50px;
  }
}
/* Main Section Styles End */

#about-me {
  grid-column: 1 / span 3;
  background-color: $softBlack;
  #about-me-sub-container {
    color: $lightBrown;
    padding-bottom: calc(10vh + 20px * 3);
    margin: 0 10vw;
  }
}

#skills {
  // grid-column: 1 / span 3;
}

.skill-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-wrap: wrap;
  min-height: 40vh;
  margin-top: -10vh;
  border-radius: 10px;
}
.skill {
  color: $darkBlue;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px solid #e6ecf8;
  border-radius: 10px;
  line-height: 1.5;
  background-color: $white;
}

.skill-row {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 10px 0;
}

.skill-img-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  svg.feather {
    stroke-width: 1px;
    stroke: $darkRed;
    width: 4em;
    height: 4em;
    font-weight: 100;
  }
  svg.feather-book {
    transform: rotate(-20deg);
  }
  .feather,
  .skill-headline {
    margin: 10px 0;
  }
}

.skill-headline {
  font-weight: 500;
}

.skill-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skill-icon-row {
  display: flex;
  flex-direction: row;
}
.skill-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  // based on maximum text width which is visual studio here
  width: 5.2rem;
  white-space: nowrap;
  overflow: initial;
  font-size: 14px;
  font-weight: 600;

  span {
    width: 100%;
  }
}

#projects {
  text-align: center;
  > div {
    margin-bottom: $projectSectionsPadding;
  }
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -$bodyGridPadding;
  margin-left: -$bodyGridPadding;
  margin-bottom: 4vh;
  padding: 0;
}

.project {
  padding: 0.75em;
  width: 100%;
  // height: 2vw;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(39, 51, 77, 0.1);
  border-radius: 12px;
}

figure img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  text-transform: capitalize;
  .figcaption-link {
    display: flex;
    a {
      margin-right: $buttonIconMargin;
    }
  }
}

figure:hover {
  figcaption {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-property: all;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  img {
    transition: 1s ease-in-out;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  p,
  .figcaption-headline,
  a {
    color: $projectText;
  }
}

figure .overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 51, 71, 0.9);
  content: '';
  opacity: 0;
}

figure .overlay::before,
figure p,
figure .figcaption-headline,
figure a {
  transition: opacity 0.35s, transform 0.35s;
}

figure .figcaption-headline,
figure p,
figure a {
  z-index: 1;
}

figure .figcaption-headline {
  font-weight: 700;
  margin-bottom: 1vw;
}
figure p {
  font-weight: 300;
}

figure:hover .overlay::before,
figure:hover p,
figure:hover a,
figure:hover .figcaption-headline {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
