$background_color_1: rgba(255, 255, 255, 1);

/* Navigation styles start here  */
/* Navigation styles end here  */
.nav-bar-container {
  background-color: $background_color_1;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  text-transform: capitalize;
}
.nav-bar {
  display: flex;
  background-color: $background_color_1;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  right: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 0.5px solid rgba(41, 51, 71, 0.5);
}
nav {
  ul {
    display: flex;
    flex-direction: column;
    height: 18vh;
    width: 100%;
    a {
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      display: flex;
      height: 6vh;
    }
    li {
      padding: 0 20px;
    }
  }
}
.nav-link {
  font-weight: 500;
}
.nav-toggle {
  &:checked {
    & ~ .nav-bar {
      transform: scale(1, 1);
    }
    & ~ nav {
      a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 50ms;
      }
    }
  }
  position: absolute !important;
  display: none;
}
.nav-toggle-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: block;
    background: #293347;
    width: 33px;
    height: 4px;
    border-radius: 3px;
    position: relative;
    &::before {
      display: block;
      background: #293347;
      width: 33px;
      height: 4px;
      border-radius: 3px;
      position: relative;
      content: '';
      position: absolute;
      bottom: 7px;
    }
    &::after {
      display: block;
      background: #293347;
      width: 33px;
      height: 4px;
      border-radius: 3px;
      position: relative;
      content: '';
      position: absolute;
      top: 7px;
    }
  }
}
.nav-headline {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}
