$background_color_1: unset;
$background_color_2: #ffffff;
$firstGridRow: 8vh;
/* Responsive design start here (Desktop Styles) */
/* Responsive design ends here  */
@media screen and (min-width: 800px) {
  body {
    header,
    main,
    footer {
      font-size: large;
    }
  }
  .container {
    grid-template-columns: [first-column] 5vw [line2] auto [line3] 5vw [last-column];
    grid-template-rows:
      [first-row] $firstGridRow [row2] minmax(92vh, auto) [row3] minmax(
        100vh,
        auto
      )
      [row4] minmax(20vh, auto) [last-row];
  }
  .nav-toggle-label {
    display: none;
  }
  .nav-bar-container {
    top: 2vh;
    padding: 10px 5vw;
    background-color: $background_color_1;
    position: absolute;
    height: $firstGridRow;
  }
  .sticky {
    position: fixed;
    top: 0;
    background-color: $background_color_2;
    // border-bottom: 0.5px solid rgba(41, 51, 71, 0.5);
  }
  .nav-bar {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: unset;
    margin: 0;
  }
  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      li {
        padding-bottom: 0;
        padding-left: 1em;
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
    height: initial;
    &::before {
      content: '';
      display: block;
      height: 4px;
      background-color: $darkRed;
      border-radius: 3px;
      position: absolute;
      top: -0.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    &:hover {
      &::before {
        transform: scale(1, 1);
      }
    }
  }
  .header-img-container {
    // flex: 1;
    // min-width: 10vw;
    // min-height: 10vw;
    // max-width: 25vw;
    // max-height: 25vw;
    // width: 25vw;
    // height: 25vw;
    // width: 100%;
    // width: 25vw;
    // height: 25vw;
  }
  .header-content {
    // grid-column: 2 / span 1;
    padding: 2vw 1vw;
    justify-self: center;
    font-size: larger;
  }
  .skill-container {
    margin: inherit $bodyGridPadding;
  }
  .skill {
    width: 33.33%;
  }
  // make the small buttons bigger on desktop screens
  .is-small {
    padding: 0.8em 1.5em;
  }

  #projects {
    .project {
      width: 33.33%;
    }
  }

  figure figcaption .figcaption-text {
    font-size: 1.2vw;
  }

  // svg.feather {
  //   width: 5em;
  //   height: 5em;
  // }
}
