$background_color_1: unset;
$background_color_2: #ffffff;

/* Responsive design start here (Desktop Styles) */
/* Responsive design ends here  */
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: [first-column] 5vw [line2] auto [line3] 5vw [last-column];
  }
  .nav-toggle-label {
    display: none;
  }
  .nav-bar-container {
    top: 3vh;
    padding: 10px 5vw;
    background-color: $background_color_1;
    position: absolute;
    font-size: 18px;
  }
  .sticky {
    position: fixed;
    top: 0;
    background-color: $background_color_2;
    border-bottom: 0.5px solid rgba(41, 51, 71, 0.5);
  }
  .nav-bar {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: unset;
  }
  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      li {
        padding-bottom: 0;
        padding-left: 1em;
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
    height: initial;
    &::before {
      content: '';
      display: block;
      height: 4px;
      background-color: $darkRed;
      border-radius: 3px;
      position: absolute;
      top: -0.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    &:hover {
      &::before {
        transform: scale(1, 1);
      }
    }
  }
  .header-img {
    width: 25vw;
    height: 25vw;
  }
  .header-content {
    grid-column: 2 / span 1;
    width: 80%;
    justify-self: center;
    font-size: large;
    p {
      font-size: x-large;
    }
  }
  .skill-container {
    margin-right: 4vh;
    margin-left: 4vh;
  }
  .skill {
    width: 33.33%;
  }
}
