/* Light Color Palete Starts Here*/
$white: #fff;
$black: #000;
$darkRed: #a63a50;
$darkBlue: #293347;
// $darkBlue: rgba(99, 99, 99, 0.4);

/* Light Color Palete Ends Here*/

/* Dark Color Palete Starts Here*/

/* Dark Color Palete Ends Here*/

$themes: (
  light: (
    // backGround: $white,
      // text: $black,
      // linkText: $darkRed,
      linkTextHover: #a63a50
  ),
  dark: ()
) !default;

// Initialize our variables as `null` so that when used outside of `themify`,
// they actually output nothing.
// $linkTextHover: null;

/// Themify mixin
/// @author Hugo Giraudel
/// @param {Map} $themes [$themes] - Map of themes to use
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
