/* Start Light Color Palete*/
$white: white;
$antiquewhite: antiquewhite;
$black: #000;
$darkBackGround: rgb(46, 46, 46);
$darkRed: #a63a50;
$darkBlue: rgb(39, 51, 77);
$lightTextColor: rgb(215, 218, 220);
$a: rgb(39, 51, 77, 0);
/* End Light Color Palete*/
