ul.reset-list-styles {
  li {
    list-style-type: initial;
    padding: 5px 0px;
  }
}

.flex-spacer {
  flex-grow: 1;
}

ul.list-style-plus {
  li:before {
    content: '+';
    margin-right: 4px;
  }
}
